[Unit]
Description=Manage swap spaces on zram, files and partitions.
Wants=pre-systemd-swap.service
After=pre-systemd-swap.service

[Service]
Type=simple
ExecStart=/usr/bin/systemd-swap start
# ExecStop=/usr/bin/systemd-swap stop
ExecStop=/usr/bin/swapoff -a
RemainAfterExit=yes
TimeoutStopSec=5
OOMScoreAdjust=-500
CapabilityBoundingSet=CAP_SYS_ADMIN
DevicePolicy=auto
NoNewPrivileges=yes
PrivateNetwork=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectHome=read-only
ProtectHostname=yes
ProtectProc=invisible
ProtectSystem=full
RestrictNamespaces=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
SystemCallFilter=@system-service @swap

[Install]
WantedBy=multi-user.target
